# Copia este archivo como .env y rellena los valores reales
# NUNCA subas el archivo .env a GitHub

SUPABASE_URL=https://qufncugoedqetvksqwaf.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF1Zm5jdWdvZWRxZXR2a3Nxd2FmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTEzOTE4NSwiZXhwIjoyMDk2NzE1MTg1fQ.bGJ20B3DiTnk9iREAKQWdDZmv-vOpHUJb1Js-wyAzCo

# URL de tu frontend (para CORS)
FRONTEND_URL=https://tu-frontend.netlify.app

# Puerto local (opcional)
PORT=3000
